.learn3__join {
  display: flex;
  flex-direction: row;
}

.learn3__join-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;  
}

.learn3__join-image img {
  width: auto;
  height: 100%;
  
}

.learn3__join-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.learn3__join-content h4 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #404851;
}

.learn3__join-content h4:last-child {
  color: #993d29;
}
.learn3__join-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 34px;
  line-height: 45px;
  margin: 1rem 0;
}

.learn3__join-content p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-text);
  margin-bottom: 2rem;
}

@media screen and (max-width:950px){
    .learn3__join{
        flex-direction: column;
    }
    .learn3__join-image{
        margin: 1rem 0;
    }
    .learn3__join-content{
        margin-top: 2rem;
    }
}